<strong>Olá, {{ student }}</strong>
<p>Sua inscrição foi realizada com sucesso!</p>
<p>
    <strong>Plano:</strong> {{ plan }} <br />
    <strong>Data/hora:</strong> {{ end_date}} <br />
    <strong>Valor:</strong> R${{ formatedPrice }},00 <br />
    <br />
    <small>
        Esperamos você em nossas academias!
    </small>
</p>

